<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">

	<form id="regForm" class="needs-validation" novalidate method="POST"
		action="/cadastro" th:object="${cadastroCliente}">

		<div layout:insert="MensagemSuccess"></div>
		<div layout:insert="MensagemDanger"></div>
<input type = "hidden" th:field="*{id}"/>


		<div class="form-gruop row cor">

			<label for="nomeCliente" class="col-sm-2 col-form-label text-right cor">Nome
				Completo</label>
			<div class="col-sm-3">
				<input type="text" required  class="form-control" placeholder = "apenas letras"
					th:field="*{nomeCliente}">
					
			</div>

		

			<label for="cpf" class="col-sm-3 col-form-label text-right cor">CPF</label>
			<div class="col-sm-3">
				<input type="text" class="form-control cpf " required pattern="[0-9]+$" th:field="*{cpf}">
			</div>



			<label for="dataNascimento"
				class="col-sm-3 col-form-label text-right cor ">Data de
				Nascimento</label>
			<div class="col-sm-2">
				<input type="text" class="form-control data" required
					th:field="*{dataNascimento}">
			</div>


			<label for="rg"
				class="col-sm-3 col-form-label text-right cor">RG</label>
			<div class="col-sm-2">
				<input type="text" class=" form-control rg" th:field="*{rg}">
			</div>

			<label for="telefone"
				class="col-sm-3 col-form-label text-right cor">Celular</label>
			<div class="col-sm-2">
				<input type="text" class="form-control telefone" required pattern="[0-9]+$" placeholder = "(99) 99999-9999"
					th:field="*{telefone}">
			</div>



			<label for="cep"
				class="col-sm-3 col-form-label text-right cor">CEP</label>
			<div class="col-sm-2">
				<input type="text" class="form-control cep" required pattern="[0-9]+$" th:field="*{cep}">
			</div>



			<label for="rua"
				class="col-sm-3 col-form-label text-right cor">Rua</label>
			<div class="col-sm-2">
				<input type="text" class="form-control  " required th:field="*{rua}">
			</div>



			<label for="numeroCasa"
				class="col-sm-3 col-form-label text-right cor">Numero </label>
			<div class="col-sm-2">
				<input type="text" class="form-control  " required placeholder = "Ex: 1001"
					th:field="*{numeroCasa}">
			</div>



			<label for="complemento"
				class="col-sm-3 col-form-label text-right cor">Complemento </label>
			<div class="col-sm-2">
				<input type="text" class="form-control  " required
					th:field="*{complemento}">
			</div>



			<label for="bairro"
				class="col-sm-3 col-form-label text-right cor">Bairro</label>
			<div class="col-sm-2">
				<input type="text" class="form-control  " required
					th:field="*{bairro}">
			</div>



			<label for="cidade"
				class="col-sm-3 col-form-label text-right cor">Cidade</label>
			<div class="col-sm-2">
				<input type="text" class="form-control  " required
					th:field="*{cidade}">
			</div>


			<label class="col-sm-3 col-form-label text-right cor"
				for="estado">Selecionar Estado</label>
			<div class="col-sm-3">
				<select class="form-control" id="estado" th:field="*{estado}">
					<option th:each="estado : ${todosEstados}" th:value="${estado}"
						th:text="${estado.nome}"></option>

				</select>
			</div>


			<label for="email"
				class="col-sm-2 col-form-label text-right cor">E-mail</label>
			<div class="col-sm-3">
				<input type="email" class="form-control  " required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder = "email@example.com"
					th:field="*{email}">
			</div>


			<label for="secret"
				class="col-sm-3 col-form-label text-right cor">Senha</label>
			<div class="col-sm-3">
				<input type="password" class="form-control  " required
					th:field="*{secret}">
					
			</div>
			
			<label for="emailConfirmacao"
				class="col-sm-2 col-form-label text-right cor">Confirmar
				E-mail</label>
			<div class="col-sm-3">
				<input type="email" class="form-control  " required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder = "email@example.com"
					th:field="*{emailConfirmacao}">
			</div>

			<label for="secretConfirmacao"
				class="col-sm-3 col-form-label text-right cor">Confirmar
				Senha</label>
			<div class="col-sm-3">
				<input type="password" class="form-control  " required
					th:field="*{secretConfirmacao}" >
			</div>




		</div>
		<div id="salvarCliente">
		
			<label for="valorEvento" class=" col-form-label text-right cor"></label>
			<button class="btn btn-success col-sm-12" type="submit">Salvar</button>
		</div>
	</form>
</section>