<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
<meta charset="UTF-8" />
<title>PIM</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap-datepicker.standalone.min.css" />

</head>


<body class=" body responsive ">

	<div class="row">
		<div class="col-sm-12"
			style="; padding: 10px; border-bottom: 1px solid white;">

			<ul class="nav justify-content-center">
				<li class="nav-item dropdown "><a
					class="nav-link btn btn-light" href="/home">Eventos</a></li>

				<li class="nav-item"><a class="nav-link btn btn-light"
					href="/home/acao">ações</a></li>

				<li class="nav-item"><a class="nav-link btn btn-light"
					href="/home">Nova casa de Show</a></li>

				<li class="nav-item"><a class="nav-link btn btn-light "
					href="/home">Shows Cadastrados</a></li>

				<li class="nav-item"><a class="nav-link btn btn-light "
					href="/home/somos">Quem Somos</a></li>
			</ul>

		<div>
			<a type="button" class="btn btn-outline-light" id="botaoLogin" href="/login">Conecte-se</a>
			<a type="button" class="btn btn-outline-light" id="botaoLogin" href="/cadastro">Cadastre-se</a>
		</div>
		</div>
	</div>

	<section layout:fragment="conteudo"></section>



	<script src="/js/jquery-3.4.1.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>

	<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
	<script src="/js/index.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>



	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>